{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "console": false
  },
  "rules": {
    "indent": [2, 2],
    "brace-style": [2, "1tbs", {
      "allowSingleLine": true
    }],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "complexity": [1, 7],
    "no-mixed-spaces-and-tabs": 2,
    "no-console": [1, { "allow": ["warn", "error"] }],
    "no-debugger": 1,
    "no-extra-semi": 2,
    "one-var": [2, "never"],
    "semi": [2, "always"],
    "semi-spacing": 2
  }
}
